.servicesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #2c2c2c;
  color: #fff;
}

.section {
  width: 100%;
  padding: 0% 15% 5% 15%;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  line-height: 1;
  font-style: normal;
  font-size: 3rem;
  margin-top: 3rem;
}

.hr {  
    background-color: rgb(73, 255, 194);
    width: 130px;
    height: 10px;
    margin-top: -1.5rem;
}

.aboutMe {
    margin-top: 3rem;
}

.cardsArea {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-top: 2rem;
    margin: 0 5%;
}

@media only screen and (max-width: 768px) {
  .aboutContainer {
    grid-template-columns: 1fr;
  }
}
