/* Estilo do card */
.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid #ccc; /* Adiciona uma borda ao redor do card */
    border-radius: 8px; /* Adiciona bordas arredondadas ao card */
    padding: 16px; /* Adiciona um preenchimento interno ao card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao card */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a sombra */
    margin-right: 16px;
    
  }
  /* Estilo para quando o cursor passa sobre o card */
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o cursor sobre o card */
  }
  
  /* Estilo para a imagem do card */
  .card img {
    width: 100%; /* Define a largura da imagem como 100% do card */
    height: auto; /* Permite que a altura da imagem seja ajustada automaticamente para manter a proporção */
    border-radius: 8px; /* Adiciona bordas arredondadas à imagem */
  }
  
  /* Estilo para o título do card */
  .card h3 {
    margin-top: 12px; /* Adiciona um espaçamento superior ao título */
    font-size: 1.5rem; /* Define o tamanho da fonte do título */
  }
  
  /* Estilo para o texto do card */
  .card p {
    margin-top: 8px; /* Adiciona um espaçamento superior ao texto */
    font-size: 1rem; /* Define o tamanho da fonte do texto */
  }
  