@import '../../App.scss';

.portfolioContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #313131;
  color: #fff;
  .mainSection {
    width: 100%;
    padding: 0% 15% 5% 15%;
  }

  .section {
    width: 100%;
    display: flex; /* Adicionando display flex para usar align-self */
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
   

    .hr {
      background-color: $primary-color;
      width: 130px;
      height: 10px;
      margin-top: -1.5rem;
      margin-bottom: 32px;
    }
    .filterButtons{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 32px;
      max-width: 500px;
    }
    .textSection {
      margin-top: 1.5rem;
      margin-bottom: 30px;
    }
  
    .cardsArea {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      
      .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        margin-top: 2rem;
        margin: 0 5%;
      }
    }
  }


 

  
  button {
    @include secundary-button($primary-color);

    &:hover {
      background: #93e5ab;
      color: #222;
    }
  }
}
