.display {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.label {
    font-size: 12px;
    margin-bottom: 8px;
}

.input {
    width: 90%;
    border: 1px rgb(73, 255, 194) solid;
    background: none;
    height: 32px;
}