.aboutContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 800px;
  background-color: #2c2c2c;
  color: #fff;
}

.section {
  width: 50%;
  max-height: 800px;
  padding: 0% 15% 5% 15%;
}

.picture {
  width: 40%;
  background-color: rgb(73, 255, 194);
  display: flex;
  flex-direction: column; /* Para que os itens dentro da div sejam organizados em coluna */
  justify-content: flex-end; /* Para alinhar os itens no final da coluna (parte inferior) */
  align-items: center; /* Centraliza horizontalmente */
}

.picture img {
  width: 410px; /* Reduzi um pouco o tamanho para evitar que fique muito grande em telas menores */
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
  margin-top: 10px; /* Ajusta a margem superior conforme necessário */
  align-self: flex-end; /* Alinha a imagem no final da coluna (parte inferior) */
  padding-right: 60%;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  line-height: 1; 
  font-style: normal;
  font-size: 5rem;
  margin-top: 0.5rem;
}

h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 1.5; 
  font-style: normal;
  font-size: 2rem;
  margin-top: 0.5rem;
  max-width: 400px;
}

h5 {
  font-weight: 300;
  line-height: 1; 
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 0.5rem; /* Ajuste a margem inferior conforme necessário */
}

p {
  margin-bottom: 20px;
  line-height: 1.5em;
}

@media only screen and (max-width: 768px) {
  .aboutContainer {
    grid-template-columns: 1fr;
  }
}
