.primary {
  background-color: rgb(73, 255, 194);
  border: none;
  width: auto;
  height: 48px;
  padding: 12px 24px;
  letter-spacing: 1px;
  border-radius: 3px;
  font-weight: 500;
}
.primary:hover {
  background-color: rgb(70, 236, 181);
  cursor: pointer;
}

.secondary {
  background-color: inherit;
  border: 2px rgb(73, 255, 194) solid;
  color: rgb(73, 255, 194);
  width: auto;
  height: 48px;
  padding: 12px 24px;
  letter-spacing: 1px;
  border-radius: 3px;
  font-weight: 500;
}

.secondary:hover {
  border: 2px rgb(36, 219, 158) solid;
  cursor: pointer;
}
