// Importar o app.scss para acessar os mixins
@import "../../app.scss";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  @include background-color($secondary-color);

  .social-container {
    width: 400px;
    text-align: center;
  }

  .social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;

    li {
      display: inline-block;
      margin: 0.15em;
      position: relative;
      font-size: 1.2em;
      i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all 265ms ease-out;
      }
    }

    a {
      display: inline-block;

      &:before {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        content: " ";
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg,  $primary-color, rgb(12, 106, 75));
        transition: all 265ms ease-out;
      }

      &:hover {
        &:before {
          transform: scale(0);
          transition: all 265ms ease-in;
        }

        i {
          transform: scale(2.2);
          -ms-transform: scale(2.2);
          -webkit-transform: scale(2.2);
          color: $primary-color;
          background: -webkit-linear-gradient(45deg, $primary-color, rgb(20, 129, 92));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 265ms ease-in;
        }
      }
    }
  }
}
