nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .logo a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
  }
  
  .navLinks li {
    margin-right: 32px;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .navLinks li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navLinks li a:hover {
    color: rgb(73, 255, 194);
  }

