$primary-color: #93e5ab;
$secondary-color: #333;
$tertiary-color: #ff6e4a;
$white-color: #fff;

@mixin primary-font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin background-color($color) {
  background-color: $color;
}

@mixin primary-button($color) {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 30px;
  background: $primary-color;
  color: $white-color;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin secundary-button($color) {
  padding: 0.6rem;
  outline: none;
  border: $color 1px solid;
  border-radius: 30px;
  background: inherit;
  color: $white-color;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  text-transform: uppercase;
  font-weight: 400;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  @include primary-font;
  @include background-color($secondary-color);

  .app-container {
    display: flex;
    width: 100%;
  }
}
